name: in_app_update
description: Enables In App Updates on Android using the official Android APIs.
version: 1.1.14
author: jonas.bark@ffuf.de
homepage: https://ffuf.de
repository: https://github.com/feilfeilundfeil/flutter_in_app_update

environment:
  sdk: ">=2.7.0 <3.0.0"
  flutter: ">=1.20.0 <2.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  plugin:
    platforms:
      android:
        package: de.ffuf.in_app_update
        pluginClass: InAppUpdatePlugin